<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Date created</th>
        <th colspan="2">Amount</th>
    </tr>
{% for model in models %}
<tr>
    <td>{{model.name}}</td>
    <td>{{model.formatted_date_created}}</td>
    <td>€{{model.rounded_total}}</td>
    <td>
        <form action="{{url_for(delete, model_id=model.id)}}" method="POST">
            <button class="btn btn-small btn-danger" type="submit">
                <i class="icon-remove icon-white"></i>
            </button>
        </form>
    </td>
</tr>
{% else %}
<tr>
    <td colspan="4">Please create an entry in the form below</td>
</tr>
{% endfor %}
<tr>
    <td colspan="2"><b>Monthly Total:</b></td>
    <td><b>€{{total}}</b></td>
    <td></td>
</tr>
</table>

<hr>
