{% extends "base.html" %}
{% block content %}

<h3>Expenditure</h3>
<h4>Current Monthly Expenses</h4>

<!-- TODO: Duplicate of income table -->
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Date created</th>
        <th>Amount</th>
        <th></th>
    </tr>
{% for expense in current_user.expenses %}
<tr>
    <td>{{expense.name}}</td>
    <td>{{expense.formatted_date_created}}</td>
    <td>€{{expense.rounded_total}}</td>
    <td>
        <form action="{{url_for('delete_expense', expense_id=expense.id)}}" method="POST">
            <button class="btn btn-danger" type="submit">
                <i class="icon-remove icon-white"></i>
            </button>
        </form>
    </td>
</tr>
{% endfor %}
<tr>
    <td></td>
    <td><b>Total Monthly Expense:</b></td>
    <td><b>€{{current_user.total_expense}}</b></td>
</tr>
</table>

<hr>

<h4>Add New Expense</h4>
<table class="table table-bordered">
    <tr>
        <th>Expense name</th>
        <th>Interval</th>
        <th>Shared between (persons)</th>
        <th>Amount (€)</th>
        <th></th>
    </tr>
    <tr>
    <form action="" method="post" name="expense">
        {{form.hidden_tag()}} <!-- Implements CSRF prevention -->
        <td>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            {{form.name}}
        </td>
        <td>
            {{form.interval}}
        </td>
        <td>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            {{form.shared_by}}
        </td>
        <td>
        {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            {{form.amount}}
        </td>
        <td>
            <button class="btn btn-primary" type="submit">
                <i class="icon-plus icon-white"></i>
            </button>
        </td>
    </form>
    </tr>
</table>


{% endblock %}
