{% extends "base.html" %}
{% block content %}

<h3>Income - {{budget.name}}</h3>
<h4>Current Monthly Incomes</h4>

{% with models=budget.incomes, total=budget.total_income,
        delete='delete_income' %}
    {% include "budget_table.html" %}
{% endwith %}

<h4>Add New Income</h4>
<table class="table table-bordered">
    <tr>
        <th>Income name</th>
        <th>Interval</th>
        <th>Amount (€)</th>
        <th></th>
    </tr>
    <tr>
    <form action="" method="post" name="income">
        {{form.hidden_tag()}} <!-- Implements CSRF prevention -->
        <td>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            {{form.name}}
        </td>
        <td>
            {{form.interval}}
        </td>
        <td>
        {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            {{form.amount}}
        </td>
        <td>
            <button class="btn btn-small btn-primary" type="submit">
                <i class="icon-plus icon-white"></i>
            </button>
        </td>
    </form>
    </tr>
</table>
<a href="{{url_for('budget')}}">Back to budgets</a>

{% endblock %}
