{% extends "base.html" %}
{% block content %}
<h3>Budgeting Summary</h3>

{% if current_user.budgets %}
<h4>Individual Budget Analysis</h4>
<label for="selectBudget">Change budget</label>
<select onchange="drawBudget();" id="selectBudget">
    {% for budget in current_user.budgets %}
        <option value="{{budget.id}}">{{budget.name}}</option>
    {% endfor %}
</select>

<div id='container-summary'></div>
<div id='container-expense'></div>
<div id='container-income'></div>

<hr>
<h4>Compare Budgets</h4>

<script src="/static/js/draw_chart.js"></script>

{% else %}
<p>You currently have no budgets. <a href="{{url_for('budget')}}">Create a budget.</a></p>

{% endif %}

{% endblock %}
