{% extends "base.html" %}

{% block content %}
<h2>Sign In</h2>
<form action="" method="post" name="login">
    {{form.hidden_tag()}} <!-- Implements CSRF prevention -->
    <p>Username
    <!-- TODO: Form errors are a bit ugly -->
    {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
        {{form.username}}
    </p>
    <p>Password
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
        {{form.password}}
    </p>
    <!-- <p>
        {{form.remember}} Remember me
    </p> -->
    <p>
        <a href="{{url_for('forgot')}}">Forgot password</a>
    </p>
    <p>
        <a href="{{url_for('register')}}">Create account</a>
    </p>
    <p>
        <button class="btn btn-primary" type="submit">
            Sign In
        </button>
    </p>
</form>

{% endblock %}
